.App {
    color: white;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blinky {
    margin-top: 0.5em;
    color: white;
    font-size: 8em;
    animation: blink-animation 1.5s steps(2, start) infinite;
    text-align: center;
    text-transform: uppercase;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
